<div class="container">
  <card-list-template [list]="users" [entity]="'User'" *ngIf="users?.length>0"></card-list-template>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Phone</th>
            <th scope="col">Register Date</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index;">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.register_date }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
</div>