<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <div class="input-group mb-3">
        <span class="input-group-text" (click)="search()"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="searchText" (keyup)="search()">
        <span class="input-group-text" (click)="clearSearchBox()"><i class="fa fa-times"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-success btn-sm" [routerLink]="['/car/add']">
        <i class="fa fa-plus me-2"></i>
        Add Car
      </button>
    </div>
    <div class="col text-end">
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="button" autocomplete="off" (click)="toggleCard()">
        <i class="fa fa-id-card pe-2"></i>
        Card
      </button>
      <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off" aria-pressed="true" (click)="toggleTable()">
        <i class="fa fa-th pe-2"></i>
        Table
      </button>
    </div>
  </div>
  
</div>

<div class="container mt-3" *ngIf="showCard">
  <card-list-template [list]="filteredCarList" [entity]="'Car'" *ngIf="filteredCarList?.length>0"></card-list-template>
  <!-- <div class="row">
    <div class="col-12 col-sm-4 mb-3" *ngFor="let car of filteredCarList; let i = index">
      <div class="card" [ngClass]="{
        'bg-dark text-white':currentTheme == 'dark',
        'bg-danger text-light':currentTheme == 'danger'
      }">
        <img [src]="car.image_car" class="card-img-top" alt="{{car.name}}">
        <div class="card-body">
          <ng-template #carPrice>
            <p class="text-success">{{ car.price }}</p>
          </ng-template>
          <h5 class="card-title" [tooltip]="carPrice">{{ car.name }}
            <app-modal [carDetails]="car"></app-modal>
          </h5>
          <p class="card-text">{{car.desc_excerpt}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->
</div>

<div class="container" *ngIf="!showCard">
    <table class="table table-striped table-dark table-hover mt-2">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Body Type</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of filteredCarList; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ car.name }}</td>
            <td>{{car.body_type}}</td>
            <td>{{car.price}}</td>
            <td> 
                <button class="btn btn-danger btn-sm me-2" (click)="deleteCar(car.ref)">Delete</button> 
                <app-modal [carDetails]="car"></app-modal>
                <button class="btn btn-primary btn-sm ms-2" [tooltip]="'Edit'" [routerLink]="['/car/edit/',car.slug]">
                  <i class="fa fa-pencil"></i>
                </button>
            </td>
          </tr>
        </tbody>
    </table>
</div>