/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/scss/bootstrap";

.form-group{
    @extend .mb-2;
}

.card-light{
    min-height: 40px;
    min-width: 30%;
    height: auto;

    &.dotted{
        border: 2px dashed #eeeeee;
        padding: 2.8em 6em;
        background-color: transparent;
    }
    @extend .mt-4;
    @extend .text-center;
    @extend .text-muted;    
}
